
.navBar {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: #104DA1;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.75);
 }

.nav-session-buttons {
  margin-right: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav-session-buttons {
  background-color: #104DA1;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.nav-session-buttons:hover {
	border-color: white;
	border-left: 1px;
	border-right: 1px;
	border-style: solid;
}


#nav-logo {
  color: white;
  margin-right: auto;
  margin-left: 80px;
	align-items: center;
}

#logo-image {
	width: auto;
	height: 80px;
}
