.splash_page {
  background: url("/assets/handshake.jpg") no-repeat;
  background-size: cover;
  opacity: 50%;
  height: 100%;
  color: white;
  width: 100%
}

.splashElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%
}



#guest-login-box {
  height: 80px;
  margin: 40px;
}

#guest-login-button {
  margin-left: 20px;
  border: solid white 2px;
  padding: 10px;
  width: 100px;
  text-align: center;
}

#home-logo-box {
  height: 40%;
  margin: auto;
}

#home-logo {
  height: 180px;
  width: 250px;
  align-items: center;
}

#initialSignUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100px;
}

#pre-drop-text {
  font-size: 25px;
  padding: 40px;
  padding-left: 90px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

select {
  background-color: #522A91;
  padding: 15px;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#sign-up-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
}

#sign-up-button {
  margin-top: 20px;
  border: 2px solid white;
  font-size: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%
}

.form-textbox {
  border: none;
  border-bottom: 2px solid white;

  margin-bottom: 25px;
  background-color: transparent;
  font-size: 20px;
}
