.splash_page {
  background-image: url("/assets/handshake.jpg");
  background-size: cover;
  opacity: 50%;
  height: 100%;
  color: white;
  width: 100%
}

.splashElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%
}


#initialSignUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100px;
}

#home-logo-box {
  height: 40%;
  margin: auto;
}

#home-logo {
  height: 180px;
  width: 250px;
  align-items: center;
}

#guest-login-box {
  height: 100px;
  margin: 40px;
}

#guest-login-button {
  margin-left: 20px;
  border: solid white 2px;
  padding: 10px;
  width: 100px;
  text-align: center;
}
