.splash_page {
  background: url("/assets/handshake.jpg") no-repeat;
  background-size: cover;
  opacity: 50%;
  height: 100%;
  color: white;
  width: 100%
}

.splashElements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%
}



#guest-login-box {
  height: 80px;
  margin: 40px;
}

#guest-login-button {
  margin-left: 20px;
  border: solid white 2px;
  padding: 10px;
  width: 100px;
  text-align: center;
}

#guest-login-button:hover {
  cursor: pointer;
}

#home-logo-box {
  height: 40%;
  margin: auto auto 0px auto;
}

#home-logo {
  height: 180px;
  width: 250px;
  align-items: center;
}

#initialSignUp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100px;
  margin-bottom: 70px;
}

#pre-drop-text {
  font-size: 25px;
  padding: 40px;
  padding-left: 90px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

select {
  background-color: #522A91;
  padding: 15px;
  width: 180px;
  height: 40px;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#sign-up-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
}

#sign-up-button {
  margin-top: 20px;
  border: 2px solid white;
  font-size: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#sign-up-button:hover {
  cursor: pointer;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%
}

.form-textbox {
  border: none;
  border-bottom: 2px solid white;
  margin: 20px 20px;
  background-color: transparent;
  font-size: 20px;
  color: white;
}

.error-list {
  color: red;
  font-weight: bolder;
}

.login-button {
  padding:5px 15px;
  background: #222222;
  border: 1px solid #ccc;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #ccc;
}
