
.user_index_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user_index_box {
  display: flex;
  padding-bottom: 60px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #222222;
  margin: 50px 0px 0px 0px;
  min-width: 500px;
  max-width: 1400px;
}

.user_index_item {
  color: #D8D8D8;
  font-size: 18;
  padding: 40px;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
  transition: transform .5s;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.user_index_item:hover {
  box-shadow: 0px 15px 35px 0px rgba(0,0,0,0.75);
  transform: translateY(-5px) translateZ(100px);
}

.user_item_list {

}

.profile-picture {
  border-radius: 10px
}

#index-username {
  font-size: 22px;
  text-align: center;
  padding-bottom: 5px;
}

.basic-info {
  text-align: center;
}

#match-information {
  text-align: center;
}

.questions-box {
  min-width: 200px;
  padding: 100px 80px 100px 0px;
  color: white;
}

.questions-inner {
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px;
  margin: auto;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.75);
  background-color: #522A91;
}

.question-box-item {
  margin-bottom: 10px;
  text-align: center;
}

.answer-choice-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answer-choice-button {
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
