.user-page-box {
  margin: 50px auto;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #522A91;
  min-width: 700px;
  max-width: 900px;
  box-shadow: 5px;
}
#profile-info {
  display: flex;
  flex-direction: row;
}

#profile-picture {
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 40px;
}

#basic-info-box {
  margin-left: 100px;
  height: 300px;
  width: 300px;
}

#basic-info-text {
  font-size: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#show-page-username {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#detail-info {
  display: flex;
  flex-direction: row;
}

#update-button-box {
  margin-left: 100px;
  margin-top: 20px;
}

#update-button {
  padding: 10px;
  font-size: 20px;
  color: #f3f6f9;
  border: 2px solid #f3f6f9;
  border-radius: 3px;
}
