.user-page-box {
  margin: 50px auto 0px auto;
  border-radius: 5px;
  padding: 30px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #522A91;
  min-width: 700px;
  max-width: 900px;
  box-shadow: 5px;
}
#profile-info {
  display: flex;
  flex-direction: row;
}

#profile-picture {
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 40px;
  box-shadow: 13px 12px 17px -4px rgba(0,0,0,0.75);
}
#show-page-username {
  color: #222222;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#basic-info-box {
  margin-left: 100px;
  height: 300px;
  width: 300px;
}
#basic-info-text {
  color: #222222;
  font-size: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


#detail-info {
  display: flex;
  flex-direction: row;
}

#update-button-box {
  margin-left: 100px;
  margin-top: 20px;
}

#update-button {
  padding: 10px;
  font-size: 20px;
  color: #f3f6f9;
  border: 2px solid #f3f6f9;
  border-radius: 3px;
}

#detail-info-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px
}

.detail-info-tab {
  margin: 25px;
  font-size: 25px;
  color: white;
}

.selected-tab {
  border-bottom: 2px solid white;
}

.about-detail-list {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 50px 20px;

}

.about-detail-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.about-detail-header {
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: bold;
  color: white;
}

.about-detail-answer {
  color: white;
}
